{% include 'home.html' %}

{% block content %}
  <div class="container">
    <h1 class="mt-5">Chi tiết đơn thuốc của {{ prescription.patient_name }}</h1>
    
    <div class="card">
      <div class="card-body">
        <!-- <h5 class="card-title">{{ prescription.title }}</h5>
        <p class="card-text"><strong>Bác sĩ:</strong> {{ prescription.doctor_name }}</p>
        <p class="card-text"><strong>Thuốc:</strong> {{ prescription.medication }}</p>
        <p class="card-text"><strong>Liều dùng thuốc:</strong> 100mg</p>
        <p class="card-text"><strong>Cách dùng:</strong> Bú cặc bác sĩ trước khi uôn</p>
        <p class="card-text"><strong>Kiểm tra liều thuốc</strong> <input type="text"> </p> -->
      </div>
    </div>
    
    <a href="{% url 'prescription_update' prescription.pk %}" class="btn btn-primary mt-3">Chỉnh sửa</a>
    <a href="{% url 'prescription_delete' prescription.pk %}" class="btn btn-danger mt-3" onclick="return confirm('Bạn có chắc chắn muốn xóa đơn thuốc này?')">Xóa</a>
    <a href="{% url 'prescription_list' %}" class="btn btn-secondary mt-3">Quay lại danh sách đơn thuốc</a>
  </div>
{% endblock %}
